@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.form {
  margin-bottom: 20px;

  .inputBox {
    position: relative;
    background: colors.$WHITE;
    border: 1px solid colors.$MAIN_COLOR;
    border-radius: 50px;

    input {
      width: calc(100% - 35px);
      padding: 8px 20px 10px;
      font-size: 14px;
      color: colors.$GRAY6;

      &::placeholder {
        font-size: 14px;
        color: colors.$GRAYA;
        letter-spacing: -0.2px;
      }
    }

    .submitBtn {
      @include flexbox.flexbox;
      position: absolute;
      top: 50%;
      right: -1px;
      width: 40px;
      height: 100%;
      background: colors.$MAIN_COLOR;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  .addImage {
    label {
      @include flexbox.flexbox(center, center);
      margin-top: 10px;
      cursor: pointer;

      span {
        font-size: 14px;
        color: colors.$MAIN_COLOR;

        + span {
          display: inline-block;
          margin-left: 5px;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    input {
      display: none;
    }

    .photo {
      button {
        display: block;
        margin: 5px auto 0;
        color: colors.$MAIN_COLOR;
      }
    }

    .imgWrap {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      margin-top: 10px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }
  }
}

.yweetList {
  height: 340px;
  overflow: scroll;
}

.irSu {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  text-indent: -9999px;
}
