@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.appWrap {
  @include flexbox.flexbox(center, center);
  height: 100vh;
  background: colors.$BG_COLOR;

  .app {
    position: relative;
    width: 350px;
    height: 700px;
    padding: 20px  25px 30px;
    background-color: colors.$APP_BG;
    border-radius: 50px;
    box-shadow: 0 1px 4px colors.$APP_BOX_SHADOW;
  }
}
