@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.yweet {
  @include flexbox.flexbox(between, start);
  padding: 14px;
  background: colors.$YWEET_BOX;
  border: 1px solid colors.$YWEET_BORDER;
  border-radius: 7px;

  dl {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
    width: 80%;

    .yweetTop {
      @include flexbox.flexbox(start, center);
    }

    .userImg {
      margin-right: 10px;
      margin-bottom: 7px;
    }

    .yweetDesc {
      margin-bottom: 5px;
      line-height: 20px;
    }

    dd {
      font-size: 14px;
      color: colors.$GRAY6;

      &.userId {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: colors.$MAIN_COLOR;
      }

      &.userDate {
        margin: 7px 0;
        font-size: 12px;
        color: rgba(colors.$GRAYA, 0.7);
      }
    }
  }

  dt {
    display: none;
  }

  + .yweet {
    margin-top: 14px;
  }

  .btnWrap {
    button + button {
      margin-left: 7px;
    }
  }

  .imgContainer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 2px solid colors.$MAIN_COLOR;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  form {
    width: 100%;

    .formWrap {
      @include flexbox.flexbox(between, center);

      .inputBox {
        position: relative;
        width: 80%;

        input {
          width: 100%;
          font-size: 14px;

          &::placeholder {
            font-size: 13px;
          }
        }

        &::before {
          position: absolute;
          bottom: -5px;
          display: block;
          width: 0%;
          height: 1px;
          content: '';
          background: colors.$GRAYA;
          opacity: 0;
          animation: line 0.4s 0.2s forwards;
        }
      }
    }
  }
}

@keyframes line {
  to {
    width: 100%;
    opacity: 1;
  }
}
